<h3>{{question.content}}</h3>
<h5>Additional Notes: {{question.notes}}</h5>
<h5>Asked by: {{question.author}}</h5>
<button {{action 'delete' question}}>Delete Question</button>

<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
