<h4>A more in-depth look at {{question.author}}'s question:</h4>
<br>
<h2>{{question.content}}</h2>
<h3>Additional Notes: {{question.notes}}</h3>
<h3>Asked by: {{question.author}}</h3>

<button {{action 'delete' rental}}>Delete</button>
