<h3>{{model.author}}'s question:</h3>
<h2>{{question-detail question=model destroyQuestion="destroyQuestion"}}</h2>
<h3>({{model.notes}})</h3>

{{update-rental rental=model update="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
